* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  width: 100%; }

button:focus {
  outline: 0px dotted; }

section {
  padding: 40px 0; }
  section .section_title {
    font-size: 30px;
    margin: 20px 0 30px;
    position: relative;
    text-align: center; }
    section .section_title::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      height: 1px;
      background: #000;
      transform: translateX(-50%);
      width: 80px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .header.sticky, .header.active {
    background: #000; }
  .header > .container-fluid {
    padding: 0 30px; }

.navigation_area {
  display: flex;
  justify-content: space-between;
  padding: 5px 0; }
  .navigation_area a {
    color: #fff; }
    .navigation_area a:hover {
      opacity: .7; }
  .navigation_area .mainmenu {
    flex-grow: 0; }

.navbar-toggler > span {
  background-color: #fff;
  border-radius: 5px;
  height: 2px;
  position: relative; }
  .navbar-toggler > span:before, .navbar-toggler > span:after {
    height: inherit;
    width: inherit;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    content: "";
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .navbar-toggler > span:before {
    top: 8px; }
  .navbar-toggler > span:after {
    top: -8px; }

.navbar-toggler[aria-expanded="true"] > span {
  background-color: transparent; }
  .navbar-toggler[aria-expanded="true"] > span:before {
    transform: rotate(45deg);
    top: 0; }
  .navbar-toggler[aria-expanded="true"] > span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0; }

.home {
  background: url(/assets/images/1.jpg) no-repeat 50% 0/cover;
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home_text {
    font-size: 40px;
    text-align: center;
    color: #fff; }

.services_card {
  margin-bottom: 40px; }

footer {
  padding: 10px;
  background: #000;
  color: #fff;
  text-align: center; }
