@import 'reset.css';
/** Variables **/
:root {
  /* Fonts */
  --body-font: 'Roboto', sans-serif;
  --font-heading: 'Oswald', sans-serif;

  /* Color */
  --black: #000;
  --black-light: rgba(0, 0, 0, .6);
  --white: #fff;
  --black-russian: #191a1c;
  --zumthor: #ccd0d3;
  --regent-grey: #7d848a;

  /* Breakpoints */
  --s-max: 767px;

  --xxs: 425px;
  --s: 768px;
  --ms: 840px;
  --m: 960px;
  --l: 1024px;
  --xl: 1440px;

  /* Transition */
  --duration: 0.2s;
  --ease: ease-in-out;

  /* Padding */
  --aspect-ratio: 56.25%;

  /* width */
  --right-column-width: 24%;
}

/* Breakpoints Queries */
@custom-media --s-max (max-width: 767px);

@custom-media --xxs (min-width: 425px);
@custom-media --s (min-width: 768px);
@custom-media --ms (min-width: 840px);
@custom-media --m (min-width: 960px);
@custom-media --l (min-width: 1024px);
@custom-media --xl (min-width: 1440px);

/* Mixins */
@define-mixin full-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@define-mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--black-russian);
  color: var(--white);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 25px;
}
